<!doctype html>
<html lang="ua">
<head>
    <%- include("../modules/head")%>
    <link rel="stylesheet" href="/scss/main-about.css">
</head>
<body>
<div class="wrapper">
    <%- include("../modules/header") %>
    <main class="main">
        <div class="main__container">
            <h1 class="main__title">Про нас</h1>
            <section class="about-us">
                <h2 class="about-us__title">Банка Спецій - це найбільший інтернет-магазин прянощів в Україні</h2>
                <div class="about-us__img"><img src="/img/about-us/team.jpg" alt="Наша команда"></div>
                <div class="about-us__inform">
                    <p class="about-us__text">Ми працюємо з 2016 року та з цього часу кожного року збільшуємо кількість
                        відправлених замовлень. Наше виробництво та склад знаходяться у м.Вінниця, а продаємо продукцію
                        по всій території України.</p>
                    <p class="about-us__text">Колись Банка Спецій - це було про офіс 12 кв.м. та 2 співробітники, а
                        зараз це про команду з 13-ти людей, які турбуються про кожне ваш замовлення, неначе вони
                        збирають/обробляють/доставляють його для себе або для своїх близьких.</p>
                    <p class="about-us__text">За час роботи ми отримали дуже багато позитивних відгуків, але все рівно
                        вдосконалюємо наш сервіс майже щодня, для того, щоб ви поверталися до нас щоразу.</p>
                    <p class="about-us__text about-us__text_bold">
                        <span class="red-text">Наша ціль</span> - це щоб на питання від знайомого: “Ти щось чув про
                        Банка Спецій?” вашою відповіддю була б фраза "<span class="red-text">Так, вони круті</span>"
                    </p>
                    <p class="about-us__text">При замовленні продукції у нас ви можете не турбуватися відносно її
                        натуральності та справжності. На кожен вид продукції ми маємо сертифікати якості від її
                        виробників.</p>
                </div>
            </section>
            <section class="our-team">
                <div class="our-team__info">
                    <h2 class="our-team__title">Наша команда</h2>
                    <p class="our-team__text">Дякуючи кожному ви отримуєте вчасно якісну та смачну продукцію. Кожен дуже залучений до процесу
                        та хоче щоб клієнт був задоволенний від покупки</p>
                </div>
                <div class="our-team__container">
                    <div class="our-team__swiper swiper">
                        <div class="our-team__wrapper swiper-wrapper">
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_1.jpg" alt="Фото працівника"></div>
                                <h3 class="worker__title">Максим</h3>
                                <div class="worker__position">Засновник компанії</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_2.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Костя</h3>
                                <div class="worker__position">Виробництво сумішей</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_3.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Яна</h3>
                                <div class="worker__position">Логістика</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_4.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Оля</h3>
                                <div class="worker__position">Фасувальник</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_5.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Марія</h3>
                                <div class="worker__position">Відділ закупівель</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_6.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Іра</h3>
                                <div class="worker__position">Старший фасувальник</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_7.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Каріна</h3>
                                <div class="worker__position">Менеджер підтримки</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_8.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Ваня</h3>
                                <div class="worker__position">Курʼєр</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_9.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Наталя</h3>
                                <div class="worker__position">Менеджер підтримки</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_10.jpg"
                                                              alt="Фото працівника"></div>
                                <h3 class="worker__title">Аня</h3>
                                <div class="worker__position">Менеджер підтримки</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_11.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Аня</h3>
                                <div class="worker__position">Менеджер підтримки</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_12.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Вова</h3>
                                <div class="worker__position">Фасувальник</div>
                            </div>
                            <div class="worker swiper-slide">
                                <div class="worker__img"><img src="/img/about-us/personal/team_13.jpg"
                                                                alt="Фото працівника"></div>
                                <h3 class="worker__title">Іра</h3>
                                <div class="worker__position">Фасувальник</div>
                            </div>
                        </div>
                    </div>
                    <div class="our-team__button-prev swiper-button-prev"></div>
                    <div class="our-team__button-next swiper-button-next"></div>
                </div>
            </section>
        </div>
    </main>
    <%- include("../modules/footer") %>
</div>
<%- include("../modules/header-script") %>
<script src="/js/main-about.js"></script>
</body>
</html>