<!doctype html>
<html lang="ua">
<head>
    <%- include("../modules/head") %>
    <link rel="stylesheet" href="/scss/main-cooperation.css">
</head>
<body>
<div class="wrapper">
    <%- include("../modules/header") %>
    <div class="modal-window-anketa">
        <form class="modal-window-anketa__form modal-form">
            <div class="modal-form__close">
                <div></div>
                <div></div>
            </div>
            <h2 class="modal-form__title title">Будь ласка, заповніть анкету, якщо бажаєте співпрацювати нами:</h2>
            <h3 class="modal-form__text">Контактна інформація</h3>
            <input class="modal-form__input modal-form__name" placeholder="Прізвище ім'я" type="text">
            <input class="modal-form__input modal-form__tel" placeholder="+380" type="tel">
            <input class="modal-form__input modal-form__email" placeholder="E-mail" type="email">
            <div class="modal-form__container">
                <div class="modal-form__wrapper">
                    <h4 class="modal-form__second-title">Варіант співробітництва:</h4>
                    <div class="modal-form__checkboxes">
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Заклад харчування</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Виробництво</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Офлайн магазин</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Інтернет-магазин</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Інше</label>
                        </div>
                    </div>
                </div>
                <div class="modal-form__wrapper">
                    <h4 class="modal-form__second-title">Формат співробітництва:</h4>
                    <div class="modal-form__checkboxes">
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Продаж</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Експорт</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Корпоративні подарунки</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Private label</label>
                        </div>
                        <div class="modal-form__item">
                            <div class="modal-form__checkbox"></div>
                            <label class="modal-form__label" for="">Дропшипінг</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="modal-form__submit button">Надіслати анкету</button>
        </form>
    </div>
    <main class="main">
        <div class="main__container">
            <h2 class="main__title">Співпраця</h2>
            <section class="cooperation">
                <div class="cooperation__container">
                    <div class="partners">
                        <h3 class="partners__title title">Запрошуємо до співпраці з нами:</h3>
                        <div class="partners__items">
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_1.svg" alt="">
                                </div>
                                <span class="item-partner__text">ресторани та кафе</span>
                            </div>
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_2.svg" alt="">
                                </div>
                                <span class="item-partner__text">кондитерські та пекарні</span>
                            </div>
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_3.svg" alt="">
                                </div>
                                <span class="item-partner__text">м’ясні та еколавки</span>
                            </div>
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_4.svg" alt="">
                                </div>
                                <span class="item-partner__text">дистриб’юторів</span>
                            </div>
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_5.svg" alt="">
                                </div>
                                <span class="item-partner__text">дропшиперів</span>
                            </div>
                            <div class="partners__item item-partner">
                                <div class="item-partner__img"><img src="/img/cooperation/cooperation_6.svg" alt="">
                                </div>
                                <span class="item-partner__text">виробництва</span>
                            </div>
                        </div>
                    </div>
                    <div class="relation-to-products">
                        <h3 class="relation-to-products__title title">Ми партнери, з якими завжди приємно працювати</h3>
                        <div class="relation-to-products__items">
                            <div class="relation-to-products__item item-relation-to-product">
                                <p class="item-relation-to-product__text"><span>великий асортимент</span> товару з
                                    постійною наявністю</p>
                            </div>
                            <div class="relation-to-products__item item-relation-to-product">
                                <p class="item-relation-to-product__text"><span>гнучкі та приємні знижки</span> при
                                    постійних замовленнях</p>
                            </div>
                            <div class="relation-to-products__item item-relation-to-product">
                                <p class="item-relation-to-product__text"><span>оперативне реагування</span> на
                                    замовлення та відправка</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="want-to-cooperate">
                    <div class="want-to-cooperate__container">
                        <div class="want-to-cooperate__promo">
                            <img src="/img/cooperation/poster.png" alt="">
                            <video loop src="/video/cooperation/promo_1.mp4"></video>
                        </div>
                        <div class="want-to-cooperate__info">
                            <h3 class="want-to-cooperate__title">Привіт, я Максим співвласник Банка Спецій</h3>
                            <p class="want-to-cooperate__text">тисни “play” та я розповім тобі переваги співпраці з
                                нами</p>
                        </div>
                    </div>
                    <div class="want-to-cooperate__wrapper">
                        <div class="want-to-cooperate__you-need">
                            <h3 class="want-to-cooperate__second-title title">Зацікавлені в співпраці?</h3>
                            <p class="want-to-cooperate__second-text">Заповніть анкету, і ми надішлемо вам умови</p>
                        </div>
                        <button class="want-to-cooperate__open-anketa button">заповнити анкету</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("../modules/footer") %>
</div>
<%- include("../modules/header-script") %>
<script src="/js/main-cooperation.js"></script>
</body>
</html>