<!doctype html>
<html lang="ua">
<head>
    <%- include("../modules/head")%>
    <link rel="stylesheet" href="/scss/main-error404.css">
</head>
<body>
<div class="wrapper">
    <%- include("../modules/header")%>
    <main class="main">
        <div class="main__container">
            <h1 class="main__title">404</h1>
            <h2 class="main__text">Запитана вами сторінка не знайдена</h2>
            <a class="main__link" href="/">повернутися на головну</a>
        </div>
    </main>
    <%- include("../modules/footer")%>
</div>
<%- include("../modules/header-script")%>
</body>
</html>