<!doctype html>
<html lang="ua">
<head>
    <%- include("../modules/head")%>
    <link rel="stylesheet" href="/scss/main-login.css">
</head>
<body>
    <div class="wrapper">
        <%- include("../modules/header")%>
        <main class="main">
            <div class="main__container">
                <form class="form">
                    <h1 class="form__title">Вхід до особистого кабінету</h1>
                    <div class="form__input form__input-email">
                        <input type="email" placeholder="E-Mail">
                    </div>
                    <div class="form__input form__input-password password-input">
                        <input class="password-input__input" type="password" placeholder="Пароль">
                        <div class="password-input__eye">
                            <img data-visible="false" src="/img/login-registration/close_eye.svg" alt="">
                        </div>
                    </div>
                    <div class="form__dont-know-password">Забули свій пароль?</div>
                    <button class="form__submit">Увійти</button>
                    <a href="/registration" class="form__want-to-registration">Хочу зареєструватися</a>
                    <div class="form__warning-massage">Здійснюючи реєстрацію або вхід, ви погоджуєтеся на обробку персональних данних згідно <a href="/privacy-policy" target="_blank">Політики конфіденційності</a></div>
                </form>
            </div>
        </main>
        <%- include("../modules/footer")%>
    </div>
    <%- include("../modules/header-script")%>
    <script src="/js/main-login-registration.js"></script>
</body>
</html>